html {
    font-size: 32px ;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(84,84,84,1);
}

input[type=number] {
    font-size: 8rem ;
    border: 1px solid rgba(255,255,255,1);
    text-align: right;
    color: rgba(84,84,84,1);
}

input[type=number]:disabled {
    background-color: rgba(255,255,255,1);
}

input[type=button] {
    font-size: 2rem ;
    /*border: 1px solid rgba(0,0,0,1);*/
    border: none;
    background-color: rgba(255,255,255,1);
    cursor: pointer;
    margin: 0 20px ;
}

body {
    text-align: center;
}

body#setter #actions {
    margin-top: 20px;
}

body#setter div#page_container {
    margin: 50px ;
}

span.unit {
    /*padding-left: 10px ;*/
    padding-right: 20px;
    font-size: 0.5rem ;
    text-transform: uppercase;
    font-weight: bold;
}

::placeholder {
    color: rgba(200,200,200,1) ;
}

/*
Viewer / client.
 */

p#timer_viewer {
    font-size: 8rem ;
    border: 1px solid rgba(255,255,255,1);
    color: rgba(84,84,84,1);
    margin: 20px ;
}